html{
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(12,46,64,1) 50%);
}

#page{
    width:95%;
    margin:auto;
    color: white;
}

#header {
    width: 95%;
    height: 10%;
    margin: auto;
    display: table;
}

#logo {
    background-image: url('../images/BlokkereCube.gif');
    background-repeat: no-repeat;
    width: 7%;
    height: 100%;
    background-size: contain;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
}

#title {
    font-size: 3vw;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
}

#right_side_header {
    font-size: 3vw;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 12%;
}

.rs{
    font-size: 2vw;
    text-decoration: none;
    background: #44484a00;
    color: white;
    transition: 0.4s;
}

/* Facebook */
.rs-about:hover {
  color: #8C82FC;
}

#content {
    display: table;
    height: 90%;
    width: 90%;
    padding: 1%;
    margin: auto;
}

#what{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 5vw;
    flex-direction: row;
    width: 65%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-around;
}

#subscribe{
  display: table-cell;
  font-family: 'Electrolize';
  text-align: left;
  vertical-align: middle;
  font-size: 1.5vw;
  background-color: #0c2e405c;
  border-radius: 41px;
  box-shadow: 10px 10px #00000040;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.subscribe_text{
    font-size: 1.75vw;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 2%;
}

button{
  transform: translate(0%, 20%);
  padding: 5%;
  width: 100%;
  line-height: 1;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #8C82FC;
  background: #8C82FC;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  /* overflow: hidden; */
  transition: all .35s;
}

button:hover{
  background: #82a7fc;
  color: #fff;
}

button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active{
  width: 40px;
  height: 40px;
}

button.is_active .success{
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}

#about_us{
  display: table;
  height: 90%;
  width: 90%;
  padding: 1%;
  margin: auto;
  border-spacing: 1vw;
}

#analysis_sec{
  background-color: #9400d3;
  border-radius: 10px;
  border: 3px black solid;
  display: table-cell;
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  width: 30%;
  padding: 0 12px;
  box-shadow: 5px 5px #00000040;    
}

#cryptobot_sec{
  background-color: #ff1493;
  border-radius: 10px;
  border: 3px black solid;
  display: table-cell;
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  width: 30%;
  padding: 0 12px;
  box-shadow: 5px 5px #00000040; 
}

#toNewWeb_sec{
  background-color: orange;
  border-radius: 10px;
  border: 3px black solid;
  display: table-cell;
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  width: 30%;
  padding: 0 12px;
  box-shadow: 5px 5px #00000040; 
}

#contact{
    display: table;
    height: 10%;
    width: 95%;
    margin: auto;
    vertical-align: middle;
}

#right_side_footer {
    display: table-cell;
    text-align: right;
}

#links{
  display: table-cell;
}

/* Social media buttons */
.fa {
  padding: 10px;
  font-size: 2.0em;
  width: 35px;
  text-align: center;
  text-decoration: none;
  background: #44484a00;
  color: white;
  transition: 0.3s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
.fa-twitter:hover {
    color: #55ACEE;
}

/* Email */
.fa-envelope:hover {
    color: #e7c9a9;
}

/* Map */
.fa-map-marker:hover {
    color: #ff3b3bd1;
}

/* Whatsapp */
.fa-whatsapp:hover {
    color: #25D366;
}

/* Telegram */
.fa-telegram:hover {
    color: #229ED9;
}

/* Telegram */
.fa-linkedin:hover {
    color: #0077B5;
}

.fa-arrow-up:hover {
    color: #8c82fc;
}
