body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(72,76,79,1) 90%);
}

#page{
    width:95%;
    margin:auto;
    color: white;
}

#header {
    width: 100%;
    height: 10%;
    margin: auto;
    display: table;
}

#logo {
    background-image: url('../images/BlokkereCube.gif');
    background-repeat: no-repeat;
    width: 7%;
    height: 100%;
    background-size: contain;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
}

#title {
    font-size: 3vw;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
}

#content {
    display: table;
    height: 87%;
    width: 100%;
    margin: auto;
}

#what{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 5vw;
    padding-left: 3%;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}

#contact{
    display: table-row;
    height: 5%;
    vertical-align: middle;
}

#links{
  display: table-cell;
}

#subscribe{
  display: table-cell;
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vw;
  background-color: #13121257;
  border-radius: 41px;
}

/* Social media buttons */
.fa {
  padding: 10px;
  font-size: 2.0em;
  width: 35px;
  text-align: center;
  text-decoration: none;
  background: #44484a00;
  color: white;
  transition: 0.4s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
.fa-twitter:hover {
    color: #55ACEE;
}

/* Email */
.fa-envelope:hover {
    color: #e7c9a9;
}

/* Map */
.fa-map-marker:hover {
    color: #ff3b3bd1;
}

/* Whatsapp */
.fa-whatsapp:hover {
    color: #25D366;
}

/* Telegram */
.fa-telegram:hover {
    color: #0088cc;
}
