html{
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(12,46,64,1) 50%);
}

#page{
    width:95%;
    margin:auto;
    color: white;
}

#header {
    width: 95%;
    height: 10%;
    margin: auto;
    display: table;
}

#logo {
    background-image: url('../images/BlokkereCube.gif');
    background-repeat: no-repeat;
    width: 15%;
    height: 100%;
    background-size: contain;
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    /* margin-left: 10%; */
}

#title {
    font-size: 5vw;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
}

#right_side_header {
    font-size: 5vw;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 12%;
}

.rs{
    font-size: 3.5vw;
    text-decoration: none;
    background: #44484a00;
    color: white;
    transition: 0.4s;
}

/* Facebook */
.rs-about:hover {
  color: #8C82FC;
}

#content {
    display: table;
    height: 90%;
    /* width: 90%; */
    padding: 1%;
    margin: auto;
    cell-spacing: 7%;
    border-spacing: -11px;
}

#what{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Electrolize';
    font-size: 10vw;
    flex-direction: row;
    width: 50%;
    padding-bottom: 30%;
    /* justify-content: space-around; */
}

#subscribe_container{
    /* height: 50%; */
    padding-top: 15%;
    padding-left: 3%;
    font-family: 'Electrolize';
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-bottom: 35%;
}

#subscribe{
  font-family: 'Electrolize';
  font-size: 1.5vw;
  vertical-align: center;
  background-color: #0c2e405c;
  border-radius: 25px;
  box-shadow: 10px 10px #00000040;
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 40%;
  padding-bottom: 2%;
  /* background-size: 50% 50%; */
  height: 70%;
  /* margin-top: 50%; */
}

.subscribe_text{
    font-size: 2.75vw;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-top: 5%;
    font-size: 2.5vw;
}

button{
  transform: translate(0%, 20%);
  padding: 5%;
  width: 100%;
  line-height: 1;
  font-size: 2vw;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #8C82FC;
  background: #8C82FC;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
  /* overflow: hidden; */
  transition: all .35s;
}

button:hover{
  background: #82a7fc;
  color: #fff;
}

button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

button.is_active{
  width: 40px;
  height: 40px;
}

button.is_active .success{
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}

#about_us{
  display: grid;
  grid-template-columns: 1fr;
  height: 90%;
  width: 90%;
  padding: 1%;
  margin: auto;
  border-spacing: 1vw;
  column-gap: 1%;
}

#about_us p{
    color: black;
    font-weight: bold;
    font-size: 3vw;
}

#about_us .icon{
    /* display: table-cell; */
    padding-top: 3%;
}
#about_us .content{
    height: 65%;
}
#about_us img{
    width: 20%;
}

.about_us_box {
    height: 97%;
}

#analysis_sec{
  /* justify-self: stretch; */
  background-color: #9400d3;
  border-radius: 10px;
  border: 3px black solid;
  /* display: grid; */
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  /* width: 30%; */
  padding: 0 12px;
  box-shadow: 5px 5px #00000040;
}

#cryptobot_sec{
  background-color: #ff1493;
  border-radius: 10px;
  border: 3px black solid;
  /* display: table-cell; */
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  /* width: 30%; */
  padding: 0 12px;
  box-shadow: 5px 5px #00000040;
}

#toNewWeb_sec{
  background-color: orange;
  border-radius: 10px;
  border: 3px black solid;
  /* display: table-cell; */
  font-family: 'Electrolize';
  text-align: center;
  vertical-align: middle;
  /* width: 30%; */
  /* padding-top: 10%; */
  padding: 0 12px;
  box-shadow: 5px 5px #00000040;
}

#contact{
    display: table;
    height: 10%;
    width: 95%;
    margin: auto;
    vertical-align: middle;
}

#right_side_footer {
    display: table-cell;
    /* text-align: right; */
    text-align: center;
}

#links{
  display: table-cell;
}

/* Social media buttons */
.fa {
  padding: 5%;
  font-size: 7vw;
  width: 7%;
  text-align: center;
  text-decoration: none;
  background: #44484a00;
  color: white;
  transition: 0.3s;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook:hover {
  color: #3B5998;
}

/* Twitter */
.fa-twitter:hover {
    color: #55ACEE;
}

/* Email */
.fa-envelope:hover {
    color: #e7c9a9;
}

/* Map */
.fa-map-marker:hover {
    color: #ff3b3bd1;
}

/* Whatsapp */
.fa-whatsapp:hover {
    color: #25D366;
}

/* Telegram */
.fa-telegram:hover {
    color: #229ED9;
}

/* Telegram */
.fa-linkedin:hover {
    color: #0077B5;
}

.fa-arrow-up:hover {
    color: #8c82fc;
}


@media (min-width: 375px) {
    #about_us img {
    width: 15%;
}

#about_us p {
    font-size: 2.5vw;
}

}

/* tablet */
@media (min-width: 540px) {
  #about_us {grid-template-columns: repeat(3, 1fr);height: 90%;/* font-size: 1vw; */}
  #about_us .icon{
    padding-top: 30%;
  }
  #about_us img{
    width: 44%;
  }
  #about_us p{
  }
  
  .about_us_box {
    height: 80%;
    margin-top: 50%;
}
}
/*ipad Air*/
@media (min-width: 768px) {

  #what {
    padding-bottom: 10%;
  }

  #logo {
    width: 10%;
  }

  #subscribe_container
  {
    padding-bottom: 10%;
  }

  #subscribe{
    padding-top: 50%;
    padding-left: 9%;
    padding-right: 9%;
  } 

  .fa{
    /* width: 60px; */
    /* font-size: 3.5em; */
    width: 4%;
    font-size: 6vw;
    padding-top: 0;
  }
  #about_us .icon{
    padding-top: 30%;
  }
  #about_us img{
    width: 65%;
  }
  #about_us p{
      font-size: 2.5vh;
  }
  
  .about_us_box {
    height: 95%;
    margin-top: 0%;
    font-size: 1vw;
}
}

/*desktop*/
@media (min-width: 1000px) {

  #content{
    width: 90%;
  }
  #title{
    font-size: 3vw;
  }
  .rs {
    font-size: 2vw;
  }
  #subscribe_container{
    padding-top: 0%;
    padding-bottom: 5%;
  }

  #subscribe{
    padding-top: 20%;
    padding-bottom: 10%;
  }

  #about_us .icon{
    padding-top: 20%;
  }
  #about_us img{
    width: 40%;
  }
  #about_us p{
      font-size: 3vh;
  }
  
  .about_us_box {
    height: 97%;
    margin-top: 0%;
  }
  
  #what {
      font-size: 5vw;
      width: 65%;
  }
  
  .subscribe_text {
    font-size: 1.75vw;
}

input{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 2%;
    font-size: 1vw;
}

.my-form-button {
    font-size: 24px;
}

.fa {
    width: 0%;
    font-size: 3vw;
    padding: 4%;
    padding-top: 0;
}

}
